<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.samples.vision.ocrreader"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl = "true"
        android:theme="@style/Theme.Design.Light"
        android:name="android.support.multidex.MultiDexApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-W1DgpWK4sfOPngXLGDA6j62aGxWMMaU"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <activity
            android:name="com.google.android.gms.samples.vision.ocrreader.DetectImageActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.samples.vision.ocrreader.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.samples.vision.ocrreader.MealMenuActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.samples.vision.ocrreader.TextMenuActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.samples.vision.ocrreader.GeographyActivity"
            android:label="Geography">

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.samples.vision.ocrreader.PlacesActivity"
            android:label="Places">

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.samples.vision.ocrreader.OpenRestaurantMenuActivity"
            android:label="OpenRestaurantMenu">

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.samples.vision.ocrreader.OrderActivity"
            android:label="OrderActivity">

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.google.android.gms.samples.vision.ocrreader.NewOrderActivity"
            android:label="NewOrderActivity">

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.samples.vision.ocrreader.CurrentPlaceMap"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.google.android.gms.samples.vision.ocrreader.OcrCaptureActivity"
            android:label="Read Text" />
        <provider
            android:name="com.google.android.gms.samples.vision.ocrreader.GenericFileProvider"
            android:authorities="com.google.android.gms.samples.vision.ocrreader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <service
            android:name="com.google.android.gms.samples.vision.ocrreader.FetchAddressIntentService"
            android:exported="false"/>
    </application>

</manifest>
